* {
  box-sizing: border-box;
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    circle,
    rgb(16, 26, 78) 0%,
    rgba(239, 149, 167, 0.932) 100%
  );
  line-height: 1.5;
}

img {
  max-width: 100%;
  box-shadow: 15px 5px 5px rgb(47, 14, 1);
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.col-1 {
  width: 8.333333%;
  padding: 25px;
}
.col-2 {
  width: 16.6666%;
  padding: 25px;
}
.col-3 {
  width: 25%;
  padding: 25px;
}
.col-4 {
  width: 33.333333%;
  padding: 25px;
}
.col-5 {
  width: 41.6666666%;
  padding: 25px;
}
.col-6 {
  width: 50%;
  padding: 25px;
}
.col-7 {
  width: 58.333333%;
  padding: 25px;
}
.col-8 {
  width: 66.666666%;
  padding: 25px;
}
.col-9 {
  width: 75%;
  padding: 25px;
}
.col-10 {
  width: 83.333333%;
  padding: 25px;
}
.col-11 {
  width: 91.666666%;
  padding: 25px;
}
.col-12 {
  width: 100%;
  padding: 25px;
}

h1 {
  text-align: center;
  color: rgb(122, 2, 2);
  font-weight: bold;
  font-size: 70px;
  height: 90px;
}
h1:hover {
  text-decoration: underline rgb(128, 4, 124);
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: rgb(2, 4, 74);
}
h2:hover {
  text-decoration: underline rgb(128, 4, 124);
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* PARTIE HEADER */

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.navbar {
  background-color: none;
}

.navbar a {
  color: #030163;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(231, 152, 219);
  color: #e61c8b;
  border-radius: 50%;
}

/* PARTIE MAIN */

/* SECTION 1 / A PROPOS */
#accueil {
  margin-top: 10%;
}

#accueil .nom {
  font-weight: bold;
}
#accueil .nom:hover {
  text-decoration: underline rgb(216, 10, 96);
}
#accueil img {
  border-radius: 85% 85% 0 0;
}

.monCV {
  text-align: center;
}
.para2 {
  text-decoration: underline;
}
#accueil p {
  margin-left: 40px;
}
#accueil P :first-child {
  text-align: center;
}
#accueil .para1 {
  font-weight: bold;
}
/* PARTIE BUTTON */

.button {
  position: absolute;
  padding: 10px 20px;
  margin: 5% 5% 5% 5%;
  border-radius: 7px;
  border: 2px solid rgb(19, 8, 88);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  align-items: center;
  background: transparent;
  color: #6b074e;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  background: rgb(3, 25, 99);
  box-shadow: 0 0 30px 5px rgba(3, 25, 99, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* PARTIE SECTION 2 / A PROPOS DU JEU */

#AProposDuJeu {
  margin-top: 5%;
}
#AProposDuJeu img {
  border-radius: 15%;
}
#AProposDuJeu a:hover {
  color: #e61c8b;
}
#AProposDuJeu p {
  text-align: justify;
}
#AProposDuJeu a {
  text-align: center;
  margin-left: 4%;
  font-weight: bold;
  color: rgb(113, 2, 11);
}

/* PARTIE SECTION 3 / HISTOIRE DE BOU */
#HistoireDeBou .para1 {
  text-align: center;
  font-weight: bold;
  color: rgb(104, 2, 2);
  margin-left: 10%;
  font-size: 50px;
}
#HistoireDeBou {
  margin-top: 5%;
}
#HistoireDeBou .para1:hover {
  text-decoration: underline rgb(216, 10, 96);
}

#HistoireDeBou img {
  border-radius: 0 15% 0 15%;
  margin-right: 30px;
  mix-blend-mode: darken;
}
.paragraphe4 {
  font-weight: bold;
  text-align: left;
  margin-left: 25%;
  font-size: large;
}

/* SECTION EXTRAITS DU JEU */
/* LA PREMIERE BLOCK */

#ExtraitsDuJeu .titre1 {
  text-align: center;
  font-weight: bold;
  color: rgb(104, 2, 2);
  margin-left: 10%;
  font-size: 30px;
}
#ExtraitsDuJeu {
  margin-top: 5%;
}
.titre1:hover {
  text-decoration: underline rgb(216, 10, 96);
}

/* LA DEUXIEME BLOCK */

#ExtraitsDuJeu .titre2 {
  text-align: center;
  font-weight: bold;
  color: rgb(104, 2, 2);
  margin-left: 10%;
  font-size: 30px;
}
.titre2:hover {
  text-decoration: underline rgb(216, 10, 96);
}

#ExtraitsDuJeu a {
  text-align: center;
  margin-left: 4%;
  font-weight: bold;
  color: rgb(113, 2, 11);
  margin: 20px;
}

/* LA TROIXIEME BLOCK */

#ExtraitsDuJeu .titre3 {
  text-align: center;
  font-weight: bold;
  color: rgb(104, 2, 2);
  margin-left: 10%;
  font-size: 30px;
}
.titre3:hover {
  text-decoration: underline rgb(216, 10, 96);
}
#ExtraitsDuJeu img {
  border-radius: 5% 5% 5% 5%;
}

#ExtraitsDuJeu .lien:hover {
  color: #e61c8b;
}

/* LA PARTIE DU VIDEO */

video {
  width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 0 15% 0 15%;
  box-shadow: 15px 5px 5px rgb(47, 14, 1);
}
.paravid {
  text-align: center;
  font-weight: bold;
  color: rgb(104, 2, 2);
  margin-left: 10%;
  font-size: 30px;
  margin: 20px;
}
.paravid:hover {
  text-decoration: underline rgb(216, 10, 96);
}

/* PARTIE FOOTER */

footer p {
  text-align: center;
  font-weight: 500px;
  font-size: 15px;
}
footer .logo {
  border-radius: 55%;
  width: 10%;
  height: 10%;
  margin-left: 90%;
  align-items: flex-end;
}
footer .famille {
  margin-left: 40%;
  margin-top: 20px;
}
footer img {
  border-radius: 0 15% 0 15%;
  box-shadow: 15px 5px 5px rgb(47, 14, 1);
}

footer .text {
  text-align: end;
  justify-content: center;
  width: 90%;
  height: 100%;
  font-size: 40px;
  font-weight: 600;
  color: rgb(90, 2, 9);
  text-shadow: 5px 0 rgb(225, 76, 106), 0 3px rgba(225, 76, 106),
    3px 0 rgba(225, 76, 106), 0 5px rgba(225, 76, 106);
}
/*  ICONES */

.icone {
  /* Définir la taille de l'icône */
  width: 20%;
  height: 18%;

  /* Centrer le contenu de l'icône */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 5%;
}
.icone .ins {
  margin-left: 20px;
}
.icone .fa {
  margin-left: 20px;
}
.icone .link {
  margin-left: 20px;
}
.icone .twi {
  margin-left: 20px;
}
.dynamic {
  box-shadow: none;
}
marquee {
  mix-blend-mode: darken;
  border-radius: 55%;
}
